{{!-- {{#if pokemons}}
<ul class='pokemons'>
    {{#each pokemons}}
    <li>

        <p>{{name}}</p>
        <img src={{img}}>
    </li>
    {{/each}}
</ul>
{{/if}} --}}

<div class="addPokem" >
<ul class='pokemons'>
  
</ul>
</div>