
{{#if userId}}
<div id="welcome">
<h1>Добро пожаловать {{userName}}</h1>
</div>
{{else}}
<div id="pageStart">
  <h1>Welcome the gallery Pokemons</h1>
  <h2> Sign In Form</h2>
</div>
<div class="wrapper">
	<form class="signin"  method="POST" action="/login" autocomplete="off">
		<input type="email" class="user" name="email" placeholder="userEmail" />
		<input type="password" class="pass" name="password" placeholder="password" />
		<button type="submit">&#xf0da;</button>
	</form>
		<p class='pokReg'> For registration...................      <a href="/reg" style="color: #ffffff">click here</a></p>
	
   
   
</div>
  {{/if}}

  