<h1>Registration In Form</h1>



<div class="wrapper">
	<form class="signin" method="POST" action="/reg" autocomplete="off">
		<input type="text" class="user" name="name" placeholder="username" />
		<input type="email" class="email" name="email" placeholder="email" />
		<input type="password" class="pass" name="password" placeholder="password" />
		<button type="submit">&#xf0da;</button>
	</form>