<div id="serchPok">
<form id='searchForm'>
    <div class="mb-3">
        <label id="pokName" for="exampleInputEmail1" class="form-label" >Pokemon Name</label>
        <input type='text' class="form-control" name='pokemonName' placeholder="введите имя покемона">
       
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

</div>